{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row " style="height: 70vh;">
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center  h-100">
                <p>Shop Online. Pickup Today. It’s Fast, Simple and Easy. Learn More.</p>
                <h1>Fast, Simple and Easy</h1>
                <p>Selling cars requires finesse in communication, product knowledge, and understanding customer needs.
                    Successful salespeople build trust, highlight vehicle features, and navigate negotiations to close
                    deals. In this dynamic industry, adaptability and a passion for automobiles are essential.
                    Connecting with customers and delivering exceptional service contribute to long-term success in car
                    sales</p>
                <button class="btn btn-warning" style="width: 150px;">Buy Now</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center  h-100">
                <img src="{%static 'images/car10.jpg' %}" style="width: 100%;" alt="Car 1" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <h5>All Brand</h5>
            {% for cat in brand %}
            <div class="btn btn-warning " style="width: 15%;">
                <a  name="brand" id="{{cat.id}}" >
                <label class="form-check-label" for="{{cat.id}}">

                    <a href="{% url 'brand_wise_post' cat.slug %}"
                        class="text-decoration-none text-dark">{{cat.name}}</a>
                </label>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">

        <h4>{{data | length}} results found</h4>
        <div class="d-flex flex-wrap pt-5">
            {% for car in data %}
            <div class="col-sm-3">
                <div class="card m-2">
                    <div class="card-body">
                        <div>
                            <img src="{{car.image.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="my-3">
                            <h5 class="card-title"><a class="text-decoration-none text-dark">{{car.name}}</a></h5>
                            <p class="card-text">{{car.description |truncatewords:10}}</p>
                            <p>Price: ${{car.price}}</p>
                            <button class="btn btn-info"><a href="{% url 'detail_car' car.id %}"
                                    class="text-decoration-none text-dark">View Details</a></button>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'edit_post' car.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'delete_post' car.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}