{% extends 'base.html' %} 

{% block content %}

<div class="flex flex-wrap p-4">
    <div class="w-1/6 bg-white p-3">
      <h5>All Categories</h5>
      {% for cat in category %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="category"
            id="{{ cat.id }}"
          />
          <label class="form-check-label" for="{{ cat.id }}">
            <a href="{% url 'category_wise_book' cat.slug %}" class="text-decoration-none text-dark">{{ cat.name }}</a>
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="w-5/6 p-3">
      <h4>{{ data | length }} results found</h4>
      <div class="flex flex-wrap pt-5 ">
        {% for book in data %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-200">
            <img class="w-full" src="{{ book.image.url }}" alt="{{ book.title}}">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{ book.title }}</div>
              <p class="text-gray-700 text-base">
                {{ book.description | truncatewords:10 }}
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                Category: {% for cat in book.category.all %}
                <span class="bg-blue-500 text-white text-sm p-1 m-1 rounded">{{cat.name}}</span>
              {% endfor %}
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <a href="{% url 'book_detail' book.id %}" class="text-decoration-none text-dark">Read Details</a>
              </button>
          </div>
          <!-- <div class="w-full sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6 p-2">
            <div class="card m-2">
              <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ book.title }}</div>
                    <p class="text-gray-700 text-base">
                        {{ book.description | truncatewords:10 }}
                    </p>
                  </div>
                <p>Author: {{ book.accounts.first_name }} {{ book.accounts.last_name }}</p>
                <p>
                  Category: {% for cat in book.category.all %}
                    <span class="bg-blue-500 text-white text-sm p-1 m-1 rounded">{{ cat.name }}</span>
                  {% endfor %}
                </p>
                <button type="button" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"></button>
              </div>
            </div>
          </div> -->
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock %}
